body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.img-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.intervals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.img-previews {
    width: 90%;
    min-height: 200px;
    border: black 1px solid;
    overflow-y: scroll;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  .display-container {
    display: none; /*Change this */
    justify-content: center;
    position: relative;
    height: 75vh;
    min-width: 50vw;
    max-width: 75vw;
  }

  .display-container__current-img {
    max-width: 100%;
  }

  .display-container__controls {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    bottom: 20px;
  }