body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border: solid 1px black;
}



.controls-container {
    border: black solid 1px;
}
